.c-example__tilt {
    display: block;
    color: #fff;
    /* background-color: #9e21ff; */
    /* background-image: linear-gradient(135deg, #ed21ff 0%, #9e21ff 100%, #9e21ff 100%); */
    /* background-image: radial-gradient( circle 674px at 18.3% 77%,  rgba(139,186,244,1) 3.4%, rgba(15,51,92,1) 56.6% ); */
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    box-shadow: 0 3px 47px #0396FF;
    transform-style: preserve-3d;
    transform: perspective(300px);
  }

  .full-form{
    font-size: 0.7rem;
    letter-spacing: 0.05rem;
    position: relative;
    top: -1rem;
  }