

.image-rect{
    position: relative;
}

.secretary-txt{
    color: #6161c7;
    font-family: cursive;
    font-style: italic;
}

.secretary-txt .designation{
    font-size: 1.1rem;
    font-weight: 500;
}

.principal-txt{
    color: #f3ca36;
    font-family: cursive;
    font-style: italic;
}

.principal-txt .designation{
    font-size: 1.1rem;
    font-weight: 500;
}

.image-rect .secretory-img{
    width: 90%;
    height: 20rem;
    box-shadow: 0 1rem 2rem #6161c785!important;
}

.image-rect .principal-img{
    width: 90%;
    height: 20rem;
    box-shadow: 0 1rem 2rem #FBDA6185!important;
}

blockquote {
    font-family: Tahoma, sans-serif;
    width: 100%;
    margin: 0 auto;
 }

 blockquote .sec {
    font-style: italic;
    font-family: cursive;
    letter-spacing: 0.06rem;
    margin-bottom: 0;
    color: #6161c7bf
 }

 blockquote .sec::before,
blockquote .sec::after {
   content: "“";
   font-family: Georgia;
   font-size: 6rem;
   margin: -2rem 0 0 -3rem;
   position: absolute;
   opacity: 0.5;
   color: #6161c7;
}

blockquote .sec::after {
   content: "”";
   color: #6161c7;
   margin: -1rem -4rem 0 0;
}


blockquote .prin {
    font-style: italic;
    font-family: cursive;
    letter-spacing: 0.06rem;
    margin-bottom: 0;
    color: #FBDA61
 }

 blockquote .prin::before,
blockquote .prin::after {
   content: "“";
   font-family: Georgia;
   font-size: 6rem;
   margin: -2rem 0 0 -3rem;
   position: absolute;
   opacity: 0.5;
   color: #FBDA61;
}

blockquote .prin::after {
   content: "”";
   color: #FBDA61;
   margin: -1rem -4rem 0 0;
}